html {
    width: 100%;
    height: 100%;
}


body {
	font-family: Caviar Dreams;
	color: white;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.val {
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}


::selection {
    background: #ffffff;
    color: #000000;
}
::-moz-selection {
    background: #888888;
    color: #ffffff;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* INTERFACES
==============================*/

#blackContainer {
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}


/* NICKNAME */

#nicknameContainer {
    width: 50%;
    display: none;
    vertical-align: middle;
}

#nicknameContainer div {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

#nicknameInput {
    font-family: Caviar Dreams;
    font-size: 1.4em;
    border: 0.1em white solid;
    background: none;
    border-radius: 0.2em;
    color: white;
    padding: 0.3em 0.5em;
    text-align: center;
    font-weight: bold;
    outline: none;
}

#nicknameInput:focus {
    background-color: rgba(255,255,255,0.1);
}


/* LOADING */

#loadingContainer {
    width: 50%;
    display: none;
    vertical-align: middle;
    text-align: center;
}

#loadingLabel {
    display: block;
    font-family: Caviar Dreams;
    color: white;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
}

#loadingBarContainer {
    display: inline-block;
    width: 60%;
    height: 8px;
    border: 1px white solid;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

#loadingBar {
    display: inline-block;
    height: 100%;
    width: 0px;
    background-color: white;
    transition-duration: 200ms;
}





/* TOUCH SCREEN
==============================*/

#touchContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#touchContainer div {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 3px rgba(0, 0, 0, 0.1);
}
#touchContainer div.touchTouched {
    background-color: rgba(255, 255, 255, 0.2);
}

#touchUp {
    left: 80px;
    bottom: 150px;
    background-image: url('./img/touchscreen/arrowUp.png');
}
#touchLeft {
    left: 10px;
    bottom: 80px;
    background-image: url('./img/touchscreen/arrowLeft.png');
}
#touchDown {
    left: 80px;
    bottom: 10px;
    background-image: url('./img/touchscreen/arrowDown.png');
}
#touchRight {
    left: 150px;
    bottom: 80px;
    background-image: url('./img/touchscreen/arrowRight.png');
}
#touchAction1 {
    right: 20px;
    bottom: 80px;
    background-image: url('./img/touchscreen/action1.png');
}
#touchAction2 {
    right: 100px;
    bottom: 30px;
    background-image: url('./img/touchscreen/action2.png');
}
#touchContainer #touchFullscreen {
    width: 60px;
    height: 60px;
    top: 10px;
    right: 10px;
    background-image: url('./img/touchscreen/fullscreen.png');
}






/* CHATBOX
==============================*/

#chatbox {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 1px;
    padding: 10px;
    width: 30%;
    color: rgba(220,220,220,0.9);
    font-family: Raleway;
    font-size: 0.95em;
    transition-duration: 600ms;
    z-index: 1;
    border: 2px rgba(255,255,255,0) solid;
}

#chatbox.displayMsg[data-focus=true] {
    background-color: rgba(0,0,0,0.7);
    border: 2px rgba(255,255,255,0.4) solid;
}

#chatbox.displayMsg {
    background-color: rgba(0,0,0,0.6);
    transition-duration: 300ms;
}

#chatbox .preInput {
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: bold;
}

#chatbox input {
    background-image: none;
    background-color: rgba(0,0,0,0);
    outline: none;
    border: none;
    width: calc(100% - 30px);
    color: white;
    font-family: Raleway;
    padding-left: 4px;
}

#chatbox #chatboxMessages .message {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

#chatbox #chatboxMessages .nickname {
    margin-right: 5px;
    font-weight: bold;
}

#chatbox.displayMsg #chatboxMessages {
    animation-name: messagesDisplay;
    animation-duration: 300ms;
    animation-fill-mode: both;
    -webkit-animation-name: messagesDisplay;
    -webkit-animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
}

#chatbox.hideMsg #chatboxMessages {
    animation-name: messagesHide;
    animation-duration: 600ms;
    animation-fill-mode: both;
    -webkit-animation-name: messagesHide;
    -webkit-animation-duration:600ms;
    -webkit-animation-fill-mode: both;
}

@keyframes messagesDisplay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes messagesDisplay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes messagesHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes messagesHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}








/* FONTS
==============================*/


/* Caviar Dreams */

@font-face {
    font-family: 'Caviar Dreams';
    src: url('./fonts/caviardreams/regular/CaviarDreams-webfont.eot');
    src: url('./fonts/caviardreams/regular/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/caviardreams/regular/CaviarDreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('./fonts/caviardreams/bold/CaviarDreams_Bold-webfont.eot');
    src: url('./fonts/caviardreams/bold/CaviarDreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/caviardreams/bold/CaviarDreams_Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('./fonts/caviardreams/italic/CaviarDreams_Italic-webfont.eot');
    src: url('./fonts/caviardreams/italic/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/caviardreams/italic/CaviarDreams_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('./fonts/caviardreams/bolditalic/CaviarDreams_BoldItalic-webfont.eot');
    src: url('./fonts/caviardreams/bolditalic/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/caviardreams/bolditalic/CaviarDreams_BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



/* Raleway */

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway/regular/raleway-regular-webfont.eot');
    src: url('./fonts/raleway/regular/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/raleway/regular/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/raleway/bold/raleway-bold-webfont.eot');
    src: url('./fonts/raleway/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/raleway/bold/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}